.side-bar {
  width: 20%;
  background-color: rgb(226, 226, 221);
}

.side-bar ul {
  margin: 0;
  padding: 0;
  background-color: rgb(226, 226, 221);
  list-style: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.side-bar li {
  margin: 0;
  padding: 10px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .side-bar li {
    font-size: 12px; 
  }
}

@media screen and (max-width: 480px) {
  .side-bar li {
    font-size: 10px;
  }
}

.side-bar li:hover {
  cursor: pointer;
  background-color: rgb(37, 209, 22);
}
