body {
  margin: 0; /* Removes the default margin */
  background-color: yellowgreen;
}

/* * {
  cursor: url('https://pngimg.com/d/face_PNG5649.png') 16 16, auto;
} */

*{
  font-family: Arial, Helvetica, sans-serif;
}

.place-holder{
  display: flex;
}
